
@font-face {
    font-family: "littlejoodles";
    src: url("/fonts/Littlejoodles-Regular.ttf");
}

body {
    font-family: "littlejoodles", sans-serif;
    background: linear-gradient(#ffc5eb 75%, white 100%);
    background-repeat: no-repeat;
    
}

body img {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

body form {
    width: 300px;
    max-width: 700px;
    margin: 0 auto;
    padding: 24px;
}

body input {
    border-radius: 25px;
    border: 2px solid #ffc5eb;
    padding: 15px; 
    width: 200px;
    height: 15px; 
    font-family: "littlejoodles", sans-serif;
    font-size: 32px;
}

body button[type=submit]{
    border-radius: 25px;
    padding: 10px; 
    font-family: "littlejoodles", sans-serif;
    font-size: 32px;
    color: white;
    background-color: #ffc5eb;
    border: #ffc5eb;
    text-align: center;

}

body input[type=text]:focus, body input[type=password]:focus {
    border: 3px solid #98FB98;
  }



